<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Now Loading…</title>
	<style>
	<% include ../../dist/css/loading.min.css %>
	</style>
	<% include _templates/google-analytics.html %>
</head>
<body class="page">

	<main id="content" class="site-content">


		<!-- <div id="place" class="place">Place your phone inside the viewer…</div> -->

		<!-- <div id="loading" class="loading">You are now entering our virtual world…</div> -->

		<div id="ornaments" class="ornaments">

			<div class="ornament">
				<div class="hook"></div>
			</div>

			<div class="ornament">
				<div class="hook"></div>
			</div>

			<div class="ornament">
				<div class="hook"></div>
			</div>

		</div>

	</main>
	<!-- // #content -->

</body>
</html>
