.page {
	color: get-color( "white" );
}

.experience-selector {
	background: get-color( "gray" ) url("../images/rptree-bg.jpg") no-repeat center;
	background-size: cover;
	margin: 0 auto;
	max-width: rem(1200px);
	padding-top: 1rem;
	padding-bottom: 2rem;
	position: relative;
	text-align: center;
	width: 100%;

	@include breakpoint( 640px ) {
		background: none;
		padding-top: 1rem;
	}

	&__logo {
		margin-bottom: 2rem;
		position: relative;

		img {
			display: block;
			margin: 0 auto;
			position: relative;
		}

		&::before {
			background-color: #000;
			border-radius: 50%;
			content: "";
			display: block;
			position: absolute;
			height: 75%;
			opacity: 0.2;
			filter: blur(7px);
			width: 75%;
			left: 50%;
			top: 50%;
			transform: translate( -50%, -50% );
		}

		&::after {
			background-color: transparentize( mix( white, get-color( "black" ), 20% ), 0.9 );
			border-radius: 50%;
			bottom: -3rem;
			content: "";
			display: block;
			filter: blur( 5px );
			height: 2rem;
			left: 50%;
			position: absolute;
			transform: translate( -50%, 0 );
			width: 80%;
		}

		.snowflake {
			position: absolute;

			height: 16px;
			width: 16px;

			svg {
				display: block;
				height: 100%;
				width: 100%;
			}

			$containerWidth: 568px;
			$containerHeight: 663px;

			$snowflake-positioning: (
				"left" 30px "bottom" 241px,
				"left" 65px "top" 236px,
				"left" 130px "top" 58px,
				"right" 187px "top" 25px,
				"right" 131px "top" 166px,
				"right" 35px "bottom" 184px
			);

			@for $i from 1 through 6 {

				$horizontalDirection: nth( nth( $snowflake-positioning, $i ), 1 );
				$horizontalValue:     floor( percentage( nth( nth( $snowflake-positioning, $i ), 2 ) / $containerWidth ) );

				$verticalDirection:   nth( nth( $snowflake-positioning, $i ), 3 );
				$verticalValue:       floor( percentage( nth( nth( $snowflake-positioning, $i ), 4 ) / $containerHeight ) );

				&.snowflake--#{$i} {
					#{$horizontalDirection}: $horizontalValue;
					#{$verticalDirection}: $verticalValue;
				}
			}
		}
	}

	&__icons {
		display: flex;
	}

	&__desktop,
	&__vr {
		text-transform: uppercase;
		width: 50%;
		@include aspect-ratio(1, 1);

		.experience-selector--desktop,
		.experience-selector--vr {
			display: block;
			font-size: 14px;
			font-weight: 700;
			height: 100%;
			letter-spacing: 1px;
			line-height: 1.1;
			margin-top: 1rem;
			text-align: center;
			white-space: nowrap;
			width: 100%;

			@include breakpoint( orientation landscape ) {
				width: 100%;
				height: 100%;
			}

			a {
				align-items: center;
				color: get-color( "gray--dark" );
				display: flex;
				flex-direction: column;
				font-family: "Roboto Condensed", sans-serif;
				height: 100%;
				justify-content: flex-start;
				position: relative;
				text-decoration: none;
				width: 100%;

				@include breakpoint( 640px ) {
					color: get-color( "white" );
				}

				.experience-selector__svg {
					align-items: center;
					background-color: transparentize( get-color( "white" ), 0.9 );
					border: 4px solid get-color( "blue--brand" );
					border-radius: 50%;
					display: flex;
					height: 50%;
					justify-content: center;
					margin-bottom: 1em;
					transition: background-color 100ms ease-in;
					width: 50%;
				}

				svg {
					width: 75%;
				}

				@include hover-state {
					text-decoration: none;

					.experience-selector__svg {
						background-color: transparentize( get-color( "white" ), 0.3 );
					}
				}
			}
		}
	}

	&__text {
		background-color: get-color( "gray--lightest" ); // bootstrap color variable
		border: 1px solid get-color( "gray--light" ); // bootstrap color variable
		font-size: 0.8em;
		padding: 3px;
		text-transform: uppercase;
		white-space: nowrap;
	}

	&--white {
		background-color: get-color( "gray--lightest" );
		background-image: none;
		box-shadow: inset 0 6px 12px -6px transparentize( #222, 0.2 ),
			 inset 0 -6px 12px -6px transparentize( #222, 0.2 );
		color: get-color( "gray--dark" );
		line-height: 1.5;
		padding: 1rem 0;

		@include breakpoint( 640px ) {
			background-color: transparent;
			box-shadow: none;
			color: get-color( "white" );
		}

		p {
			font-family: "Roboto Condensed", sans-serif;

			.blue {
				color: get-color( "blue--brand" );
				font-weight: 500;

				@include breakpoint( 640px ) {
					color: mix( white, get-color( "blue--brand" ), 75% );
				}
			}
		}
	}

	.vrp3 {
		border: solid get-color( "white" ) {
			width: 1px 0;
		}
		display: inline-block;
		font-size: rem( 12px );
		font-weight: 500;
		text-transform: uppercase;
	}
}

.page .intro {

	@include breakpoint(640px) {
		background: get-color( "gray" ) url("../images/rptree-bg.jpg") no-repeat center;
		background-size: cover;
		display: flex;
		padding-top: 1rem;
	}
}