.cardboard {
	background-color: get-color( "blue--brand" );
	font-family: "Roboto", sans-serif;
	padding: 4rem 0;
	text-align: center;

	ol {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 60px auto 0 ;
		max-width: rem(1000px);
		padding: 0;
		justify-content: space-between;
		text-align: left;

		@include breakpoint( 640px ) {
			flex-wrap: nowrap;
		}

		li {
			flex-grow: 1;
			height: rem(170px);
			margin-bottom: 2em;
			position: relative;
			text-align: center;
			width: span(4 of 12);

			&:nth-of-type(3n) {
				margin-right: 0;
			}

			&.step2, &.step3 {
				svg {
					max-width: 65px;
				}
			}

			&.step1 {
				svg {
					max-width: 85px;
				}
			}

			.svg {
				height: 33%;
			}
		}

		svg {
			display: block;
			margin: 0 auto;
			max-height: 48px;
			max-width: 48px;
		}

		span {
			display: block;
			font-family: "eightBit", sans-serif;
			margin-bottom: 0.75rem;
		}

		p {
			font-family: "Roboto", sans-serif;
			font-weight: 300;
			margin: 0;
			padding: 0 10px;
			width: 100%;
		}
	}

	h2 {
		text-shadow: 2px 1px #000;
	}

	&__tree-img {
		background-image: url('../images/tree-snippet.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: rem(75px);
		margin: 0 auto 30px;
		width: rem(185px);
	}
}
