.cardboard {
	background-color: get-color( "blue--brand" );
	font-family: "Roboto Condensed", sans-serif;
	padding: 2rem 0;
	text-align: center;

	ol {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 40px 0 0 0;
		padding: 0;
		justify-content: space-between;
		text-align: left;

		@include breakpoint( 640px ) {
			flex-wrap: nowrap;
		}

		li {
			margin-bottom: 2em;
			text-align: center;
			width: span(4 of 12);

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}

		svg {
			display: block;
			margin: 0 auto 1rem;
			max-height: 48px;
			max-width: 48px;
		}

		span {
			display: block;
			margin-bottom: 1rem;
		}
	}

	h2 {
		text-shadow: 2px 1px #000;
	}

	&__tree-img {
		background-image: url('../images/tree-snippet.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: rem(75px);
		margin: 40px auto 30px;
		width: rem(185px);
	}
}
