
%eight-bit-border {
	border: {
		top: 4px solid white;
		bottom: 4px solid white;
	}
	position: relative;

	&::before, &::after {
		border-left: 4px solid white;
		content:'';
		height: 100%;
		position: absolute;
		top: 0;
	}
	&::before {
		left: 0;
		margin-left: -4px;
	}
	&::after {
		margin-right: -4px;
		right: 0;
	}
}

.leaderboard__yeti-angel {
	background: url("../images/yeti_angel.png") no-repeat center;
	background-size: contain;
	height: 190px;
	width: 100%;
	margin: 25px auto;
}

.yeti-container {
	margin-top: 60px;

	@include breakpoint( 640px ) {
		width: span(6 of 12);
	}

	.downed-yetis {
		font-size: 0.9rem;
	}

	.yeti-shadow {
		background-color: get-color( "black" );
		border-radius: 50%;
		display: none;
		filter: blur(7px) grayscale(.5) opacity(.3);
		height: 10px;
		margin: 25px auto;
		width: 25%;

		@include breakpoint( 640px ) {
			display: block;
		}
	}

	.sharing {
		display: none;

		@include breakpoint( 640px ) {
			display: block;
		}
	}
}
