.leaderboard {
	min-height: 100vh;
	text-align: center;

	h1, h2, p, a, span {
		font-family: "PressStart2P", sans-serif;
	}

	&__stats {
		@extend %eight-bit-border;
		margin: auto;
		max-width: 900px;
		width: 90%;

		@include breakpoint( 640px ) {
			min-height: 475px;
		}

		&--banner {
			background: url("../images/game_over.png") no-repeat center;
			background-size: contain;
			font-size: 1.6em;
			text-shadow: 2px 2px black;
			height: 57px;
			line-height: 2;
			margin: auto;
			margin-top: -30px;
			width: 100%;
			max-width: 340px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
	}

	.rptree-credits {
		color: get-color( "white" );
		background-color: #9C9C9C;
		position: absolute;
		margin-top: 8em;
		padding-bottom: 3em;
		left: 0;
		right: 0;

		&-wrapper {
			margin: 0 auto;
			max-width: 1020px;
			@include breakpoint( 640px ) {
				column-count: 3;
			}
		}

		&-category {
			margin-bottom: 0.25em;

			//the following is hacky
			&:first-of-type {
				@include breakpoint( 640px ) {
					margin-top: 0;
				}
			}
			&.orange {
				@include breakpoint( 640px ) {
					margin-top: 2em;
				}
			}
		}

		&-name {
			font-family: "Roboto", sans-serif;
			margin: 0;

			//the following is  hacky
			@include breakpoint( 640px ) {
				&.apple {
					margin-bottom: 7em;
				}
			}
		}
	}
}

.leaderboard__stats-banner {
	background: url("../images/game_over.png") no-repeat center;
	background-size: contain;
	font-size: 1.6em;
	text-shadow: 2px 2px black;
	height: 57px;
	line-height: 2;
	margin: auto;
	margin-top: -30px;
	width: 100%;
	max-width: 340px;
}

.twitter-share {
	background-color: get-color("blue--brand");
	display: inline-block;
}

.leaderboard__footer {
	padding: 40px 0 0;
	position: absolute;
	width: 100%;

	.brought {
		font-size: 16px;
		font-weight: 300;
		margin: 15px 20px 0 0;
		vertical-align: top;
	}

	.site-footer__logo,
	.brought {
		display: inline-block;
	}

	.site-footer__logo {
		background-image: url('../images/rp3-logo-white.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: 50px;
		width: 75px;
	}
}

.credits {
	bottom: 1em;
	font-family: "Roboto", sans-serif !important;
	font-size: rem(11px);
	color: mix( white, #d3f9fa, 50% );
	margin: 0;
	position: absolute;
	right: 1em;
	text-align: right;

	a {
		font-family: "Roboto", sans-serif;
		font-size: rem(11px);
		color: mix( white, #d3f9fa, 50% );
		text-decoration: underline;
	}
}

.leaderboard__snowflakes {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;

	svg {
		animation: 10s linear snowflake1 infinite;
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		top: 0;
		left: 10%;
	}
}

@keyframes snowflake1 {
	0 {
		top: 0;
		left: 10%;
	}

	100% {
		top: 100%;
		left: 20%;
	}
}
