.leaderboard {
	min-height: 100vh;
	text-align: center;

	h1, h2, p, a, span {
		font-family: "PressStart2P", sans-serif;
	}

	&__stats {
		@extend %eight-bit-border;
		margin: auto;
		max-width: 900px;
		width: 90%;

		@include breakpoint( 640px ) {
			min-height: 475px;
		}

		&--banner {
			background: url("../images/game_over.png") no-repeat center;
			background-size: contain;
			font-size: 1.6em;
			text-shadow: 2px 2px black;
			height: 57px;
			line-height: 2;
			margin: auto;
			margin-top: -30px;
			width: 100%;
			max-width: 340px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
	}
}

.leaderboard__stats-banner {
	background: url("../images/game_over.png") no-repeat center;
	background-size: contain;
	font-size: 1.6em;
	text-shadow: 2px 2px black;
	height: 57px;
	line-height: 2;
	margin: auto;
	margin-top: -30px;
	width: 100%;
	max-width: 340px;
}

.twitter-share {
	background-color: get-color("blue--brand");
	display: inline-block;
}

.leaderboard__footer {
	padding: 40px 0 0;
	position: absolute;
	width: 100%;

	.brought {
		font-size: 16px;
		font-weight: 300;
		margin: 15px 20px 0 0;
		vertical-align: top;
	}

	.site-footer__logo,
	.brought {
		display: inline-block;
	}

	.site-footer__logo {
		background-image: url('../images/rp3-logo-white.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: 50px;
		width: 75px;
	}
}

.credits {
	bottom: 1em;
	font-family: "Roboto", sans-serif !important;
	font-size: rem(11px);
	color: mix( white, #d3f9fa, 50% );
	margin: 0;
	position: absolute;
	right: 1em;
	text-align: right;

	a {
		font-family: "Roboto", sans-serif;
		font-size: rem(11px);
		color: mix( white, #d3f9fa, 50% );
		text-decoration: underline;
	}
}
