.page {
	padding: rem(20px) percentage(115px / 1500px);
	margin: 0 auto;
	max-width: em(1830px, $default-font-size);
	position: relative;
	z-index: 30;

	@include breakpoint(1830px) {
		max-width: em(1600px);
		padding: {
			left: 0;
			right: 0;
		}
	}

	&__video {
		border-radius: 8px;
		left: 0;
		margin-bottom: rem(28px);
		overflow: hidden;
		// padding-top: percentage(270px / 480px);
		position: absolute;
		top: 0;
		width: 100%;

		@include breakpoint($breakpoint) {
			margin-right: 2%;
			width: 48%;
		}

		object,
		embed,
		video {
			display: block;
		}

		video {
			height: auto;
			width: 100%;
		}
	}
}
