*, *::after, *::before {
	box-sizing: border-box;
}

/**
 * Sticky footer via flexbox (http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
 */

body.page {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 90%;
}

/**
 * Respoinsification
 */

@import "responsive";

/**
 * Main Content
 */

@import "leaderboard";

@import "leaderboard-yeti";

@import "leaderboard-scores";

@import "snowflakes";

/**
 * Experience Selector
 */

@import "experience-selector";

/**
 * Our Non-Profit Partners
 */

@import "partners";

/**
 * Tweets
 */

@import "tweets";

/**
 * How to Use Cardboard
 */

@import "how-to-use-cardboard";

/**
 * Site Footer
 */

@import "site-footer";

/**
 * Social Media
 */

@import "social-media";


/** Landing Page Styling */

.site-content--landing-page {
	background: get-color( "white" ) url("../images/rptree-bg-v2.jpg") repeat-x center top;
	padding-top: 2rem;
}

.container {
	max-width: rem(305px);
	position: relative;
}

.logo {
	position: relative;

	img {
		display: block;
		margin: 0 auto;
		max-width: rem(400px);
		position: relative;
		width: 100%;
	}

	.container::before {
		background: linear-gradient( get-color( "blue--brand" ), transparent 80%);
		border-radius: 50%;
		content: "";
		display: block;
		position: absolute;
		height: 96%;
		opacity: 0.3;
		width: 100%;
		left: 50%;
		top: 40%;
		transform: translate( -50%, -50% );
	}

	.snowflake {
		position: absolute;

		height: 16px;
		width: 16px;

		svg {
			display: block;
			height: 100%;
			width: 100%;
		}

		$containerWidth: 568px;
		$containerHeight: 663px;

		$snowflake-positioning: (
			"left" 30px "bottom" 241px,
			"left" 65px "top" 236px,
			"left" 130px "top" 58px,
			"right" 187px "top" 25px,
			"right" 131px "top" 166px,
			"right" 35px "bottom" 184px
		);

		@for $i from 1 through 6 {

			$horizontalDirection: nth( nth( $snowflake-positioning, $i ), 1 );
			$horizontalValue:     floor( percentage( nth( nth( $snowflake-positioning, $i ), 2 ) / $containerWidth ) );

			$verticalDirection:   nth( nth( $snowflake-positioning, $i ), 3 );
			$verticalValue:       floor( percentage( nth( nth( $snowflake-positioning, $i ), 4 ) / $containerHeight ) );

			&.snowflake--#{$i} {
				#{$horizontalDirection}: $horizontalValue;
				#{$verticalDirection}: $verticalValue;
			}
		}
	}
}
