/**
 * Sticky footer via flexbox (http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
 */

body.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/**
 * Respoinsification
 */

@import "responsive";

/**
 * Main Content
 */

.site-content {
	flex: 1;
}

/**
 * Experience Selector
 */

@import "experience-selector";

/**
 * Site Header
 */

@import "site-header";

/**
 * Site Footer
 */

@import "site-footer";

/**
 * Social Media
 */

@import "social-media";
