.site-footer {
	background-color: get-color( "gray--lightest" );
	box-shadow: inset 0 6px 12px -6px transparentize( #222, 0.2 );
	color: get-color( "gray--dark" );
	padding: 2em 0;
	text-align: center;

	&__logo {
		margin-top: 0.5em;

		a {
			color: get-color( "white" );
			display: inline-block;

			@include hover-state {
				text-decoration: none;
			}
		}

		svg {
			display: inline-block;
			height: 3em;
			margin-bottom: -0.5em;
			width: auto;

			path {
				fill: get-color( "blue--brand" );
			}
		}
	}

	&__social-media {
		margin-top: 1em;
	}
}
