*, *::after, *::before {
	box-sizing: border-box;
}

/**
 * Sticky footer via flexbox (http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
 */

body.page {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 90%;
}

/**
 * Respoinsification
 */

@import "responsive";

/**
 * Main Content
 */

@import "leaderboard";

@import "leaderboard-yeti";

@import "leaderboard-scores";

@import "snowflakes";

/**
 * Experience Selector
 */

@import "experience-selector";

/**
 * Our Non-Profit Partners
 */

@import "partners";

/**
 * How to Use Cardboard
 */

@import "how-to-use-cardboard";

/**
 * Site Footer
 */

@import "site-footer";

/**
 * Social Media
 */

@import "social-media";
