.site-footer {
	background-color: get-color( "blue--brand" );
	color: get-color( "white" );
	height: 4em;

	&__inner {
		height: 100%;
		// max-width: 60em;
		@include make-container();
	}
	// &__inner

	&__row {
		height: 100%;
		@include make-row();
	}
	// &__row

	&__logo {
		align-items: center;
		display: flex;
		height: 100%;
		@include make-col();
		@include make-col-span(6);

		a {
			color: get-color( "white" );
			display: inline-block;

			@include hover-state {
				text-decoration: none;
			}
		}

		svg {
			display: inline-block;
			height: 1.5em;
			margin-bottom: -0.5em;
			width: auto;

			path {
				fill: get-color( "white" );
			}
		}

		&__tagline {
			display: block;
			margin-top: -0.75em;
			text-indent: 2em;

			a {
				color: get-color( "white" );
				text-decoration: underline;
			}
		}
	}
	// &__logo
}
