[class$="__social-media"] {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	@include make-col();
	@include make-col-span(6);
}

ul.social-media {
	margin-bottom: 0;

	li {

		a {
			@extend .fa;
			@extend .fa-2x;
			color: get-color( "white" );
			display: inline-block;
			text-indent: 100%;
			overflow: hidden;
			position: relative;
			white-space: nowrap;
			width: 32px;

			&::before {
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				text-indent: 0;
				top: 0;
			}
		}

		&.tw a {
			@extend .fa-twitter;
		}

		&.in a {
			@extend .fa-instagram;
		}
	}
}
