ul.social-media {
	margin-bottom: 0;
	position: fixed;
	right: 0.5em;
	top: 0.5em;
	z-index: 100;

	@include breakpoint( 640px ) {
		top: auto;
		bottom: 0.5em;
	}

	li {

		a {
			@extend .fa;
			@extend .fa-2x;
			background-color: transparentize( get-color( "white" ), 0.2 );
			border: 2px solid get-color( "blue--brand" ) {
				radius: 50%;
			}
			color: get-color( "blue--brand" );
			display: inline-block;
			font-size: 24px;
			height: 42px;
			line-height: 42px;
			overflow: hidden;
			position: relative;
			text: {
				align: center;
				indent: 100%;
			}
			transition: border-color 150ms linear, color 150ms linear;
			white-space: nowrap;
			width: 42px;

			&::before {
				bottom: 0;
				left: 0;
				line-height: 42px;
				position: absolute;
				right: 0;
				text-indent: 0;
				top: 0;
			}
		}

		&.tw a {
			@extend .fa-twitter;
		}

		&.in a {
			@extend .fa-instagram;
		}
	}
}
