.tweet {
	@extend %roboto-light;
	color: $black;
	margin-bottom: rem(35px);
	width: 100%;

	@include breakpoint($breakpoint-sm) {
		width: 48%
	}

	@include breakpoint($breakpoint-lg) {
		width: 23.5%;
	}

	a {
		text-decoration: none;
	}

	&__container {
		background-color: $white;
		border: 1px solid nth($grays, 2);
		border-radius: 8px 8px 0 0;
		overflow: hidden;
		padding: rem(31px) percentage(57px / 689px);
	}

	&__avatar {
		border-radius: 8px;
	}

	&__handle {
		@extend %roboto-light;
		color: nth($blues, 1);
		display: block;
		font-size: em(16px);
		margin: 1em 0;
	}

	&__content {
		margin-bottom: 0.5em;
	}

	&__timestamp {
		color: nth($grays, 1);
		font-size: em(13px);
	}

	&__footer {
		background-color: nth($blues, 1);
		height: rem(15px);
	}
}

.masonry-gutter {
	width: 2%;
}
