$tweet-colors: (
	#cdeef4,
	#d6f5fc,
	#c1f0fa
);

$tweet-text: #839095;

.tweets {

	.tweet {
		color: $tweet-text;
		font-family: "Roboto", sans-serif;
		font-size: rem(10px);
		font-weight: $font-weight--regular;
		margin: 0 auto rem(35px);
		max-width: rem(640px);
		width: 90%;

		a {
			text-decoration: none;
		}

		&__container {
			background-color: get-color('white');
			line-height: 2;
			margin-bottom: 1rem;
			overflow: hidden;
			padding: 1rem 2rem;

			@for $i from 1 through 3 {
				&:nth-of-type(#{$i}n) {
					background-color: nth($tweet-colors, $i);
				}
			}

			@include breakpoint( 480px ) {
				width: span( 6 of 12 );
			}

			@include breakpoint( 640px ) {
				width: span( 4 of 12 );
			}
		}

		&__avatar {
			border-radius: 8px;
		}

		&__handle {
			color: get-color('blue--brand');
			display: block;
			font-size: em(16px);
			margin: 1em 0;
		}

		&__content {
			margin-bottom: 0.5em;
		}

		&__timestamp {
			color: get-color('gray');
			font-size: em(13px);
		}
	}

}
