$tweet-colors: (
	#cdeef4,
	#d6f5fc,
	#c1f0fa
);

$tweet-text: #839095;

.tweets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto rem(35px);
	max-width: 320px;

	@include breakpoint(480px) {
		max-width: none;
		width: 480px;
	}

	@include breakpoint(640px) {
		width: 640px;
	}

	.tweet {
		color: $tweet-text;
		font-family: "Roboto", sans-serif;
		font-size: rem(14px);
		font-weight: $font-weight--regular;
		margin-bottom: 1rem;
		padding: 1rem 2rem;
		width: 100%;

		@for $i from 1 through 3 {
			&.color-#{$i} {
				background-color: nth($tweet-colors, $i);
			}
		}

		@include breakpoint( 480px ) {
			width: 230px;
		}

		@include breakpoint( 640px ) {
			width: 200px;
		}

		a {
			color: get-color('blue--brand');
			text-decoration: none;
		}

		&__container {
			line-height: 1.5;
			margin-bottom: 1rem;
			overflow: hidden;
		}

		&__avatar {
			border-radius: 8px;
		}

		&__handle {
			color: get-color('blue--brand');
			display: block;
			font-size: em(16px);
			margin: 1em 0;
		}

		&__content {
			margin-bottom: 0.5em;
		}

		&__timestamp {
			color: get-color('gray');
			font-size: em(13px);
		}
	}
}
