/**
 * Typography
 */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic);

body {
	font-family: Roboto, sans-serif;
}

h2 {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

strong {
	font-weight: 500;
}
