<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Facebook sharing meta data -->
	<meta property="og:url" content="<!-- @@var fbUrl -->" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="<!-- @@var fbTitle -->" />
	<meta property="og:description" content="<!-- @@var description -->" />
	<meta property="og:image"  content="" />
	<!-- Twitter Card meta data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@rp3agency">
	<meta name="twitter:title" content="<!-- @@var fbTitle -->">
	<meta name="twitter:description" content="<!-- @@var description -->">
	<meta name="twitter:image" content="https://rptree.com/images/twitter-yeti.jpg">

	<title><!-- @@var title --></title>
	<link rel="stylesheet" href="/css/rptree.min.css" type="text/css" media="all" />
	<!-- @@placeholder styles -->

	<link rel="icon" type="image/png" href="/images/yeti-avatar.png">
	<link rel="apple-touch-icon" href="/images/yeti-avatar.png">

	<!-- @@placeholder scripts -->

	<% include _templates/google-analytics.html %>
</head>
<body class="page">

	<!-- @@placeholder content -->

<% include _templates/footer.html %>

</body>
</html>
