<script type="text/template" id="tweet-template">
<% _.each(tweets, function(tweet) { %>
	<div class="tweet">

		<div class="tweet__container">

			<img src="<%= tweet.get('profileImage') %>" class="tweet__avatar">

			<a href="https://twitter.com/<%= tweet.get('user') %>" class="tweet__handle">@<%= tweet.get('user') %></a>

			<p class="tweet__content"><%= tweet.get('text') %></p>

			<a title="<%= tweet.get('timestamp') %>" class="tweet__timestamp" id="tweet__timestamp"><%= tweet.get('timestamp') %></a>

		</div>

		<div class="tweet__footer"></div>

	</div>
	<!-- // .tweet -->
<% }); %>
</script>
